body{
    margin: auto;
}
/* customing my own css rule */
.bg-pri{
    background-color: #030C0F !important;
}
.border-pri{
    border: #030C0F 1 solid !important;
}
.big-word{
    font-size: 75px;
}
.color-section{
    background-color: #030C0F;
    color: white;
}
.white-section{
    color: #030C0F;
}
/* end customing my own css rule */


/* header */
.hero{
    width: 100%;
}
.hero-text{
    position: relative;
    text-align: right;
    width: 100%;
    top: -500px;
}
.logo{
    font-size: 4rem !important;
    font-weight: 5rem;
}
.nav-link:hover{
    color: white !important;
}

/* end header */

/* quality section */
.quality{
    padding: auto;
    position: relative;
    
}
.quality-row{
    margin-top: -150px;
}
.body-icon span{
    font-size: 20vh;
}
.body-icon{
    margin-bottom: 50px;
}
/* end quality section */

/* testimony section */
#testimony-carousel img{
    width: 20vh;
    margin: 80px 0;
}
.testimony-name{
    margin-top: 100px;
    padding: 20px;
}
.testimony{
    padding: 50px 0;
}
/* end testimony section */

/* sponsors sections */
.sponsoring img{
    width: 120px;
    margin: 40px;
}
/* end sponsors sections */

/* suscribtion sections */
.suscribtions{
    margin: 60px 0;
}
.card-down{
    margin-bottom: 50px;
}
.menbership{
    padding: 40px 0;
}
.menbership span{
    font-size: 30px;
}
.menbership .btn{
   margin: 30px 20px;
}
/* end suscribtion sections */

/* footer */
footer{
    margin: 100px;
}
.social-media{
    margin-bottom: 20px;
}
.social-icon{
    margin: 10px;
}
footer a{
    text-decoration: none;
    color: #030C0F;
}
/* end footer */
@media (max-width: 900px) { 
    .hero-text{
        text-align: center;
        justify-content: center;
        top: -255px;
    }
    .big-word{
        font-size: 40px;
    }
    .body-icon span{
        font-size: 15vh;
    }
    .nav-link{
        color: white !important;
    }
    .nav-link:hover{
        color: #030C0F !important;
    }
    .nav-color li{
        width: 20%;
        text-align: center;
        border-radius: 2px;
        visibility: 20%;
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .logo{
        font-size: 3.5rem !important;
    }

 }

 @media (max-width: 415px) { 
    .hero-text{
        text-align: center;
        justify-content: center;
        top: -195px;
    }
    .big-word{
        font-size: 40px;
    }
    .nav-color li{
        height: 7vh;
        width: 25%;
    }
    .logo{
        font-size: 2rem !important;
    }


 }

 @media (max-width: 280px) { 
    .hero-text{
        text-align: center;
        justify-content: center;
        top: -140px;
    }
    .big-word{
        font-size: 30px;
    }
    .hero-text .first-p{
        display: none;
    }
    .quality-row{
        margin-top: -80px;
    }
    .logo{
        font-size: 1.7rem !important;
    }
 }

